---
import About from '../components/About.astro'
import Experience from '../components/Experience.astro'
import Navigation from '../components/Navigation.astro'
import Other from '../components/Other.astro'
import Profile from '../components/Profile.astro'
import Projects from '../components/Projects.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Andrei Aldea'>
	<main class='flex dark:border-black lg:border-r'>
		<Navigation />
		<section class='mx-4 w-full space-y-3 sm:mx-8 md:ml-72'>
			<Profile />
			<About />
			<Experience />
			<Other />
			<section id='projects' class='mt-4 p-2'>
				<span class='font-bold dark:text-neutral-100'>Projects</span>
				<ul
					class='mt-4 grid gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2'
				>
					<Projects
						title='blocuri beton'
						link='https://blocuribeton.com'
						description='Client was looking for a modern and user-friendly interface for his local business. Built with AstroJS for fast loading even with slow connections. The website is a solution for presenting products to potential customers in a fast and accessible manner.'
						typescript={true}
						astro={true}
					/>
					<Projects
						title='cocktail'
						link='https://cocktail-api-app.vercel.app'
						description='The application, made with Next.js, allowed users to search and view details about cocktail recipes. Using SSR, a list of matching cocktails and their ingredients are displayed on dynamic routes. Parsing the JSON data and handling errors were some of the challenges faced during the project. Utilizing the third-party API allowed for a dynamic and interactive experience for users seeking information on cocktail recipes.'
						react={true}
						nextjs={true}
					/>
					<Projects
						title='hangman'
						link='https://fn7x.github.io/hangman/'
						description='ReactJS was used to build the dynamic user interface and handle the interactions between different components on the web app. The user can keep track of their progress and use hints.'
						react={true}
					/>
					<Projects
						title='portofolio'
						description="Used Tailwind CSS to handle the styling and design of the website and TypeScript for strict type checking. Implemented dark mode to go along with the user's preferences or system settings."
						link='/'
						typescript={true}
						astro={true}
					/>
				</ul>
			</section>
		</section>
	</main>
</Layout>
